<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        
        Email: <input type="email" id="email" name="email"><br>
        password: <input type="password" id="password" name="password"><br>
        <button onclick="myFunction()">Signin</button>
    </form>

    <script>
        let my_data=[];
        function myFunction() {
          let data = {
             
             email:document.getElementById('email').value,
             password:document.getElementById('password').value,
          };
          const options = {
           method: 'POST',
           body: JSON.stringify(data),
           headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
      }
}
fetch('http://127.0.0.1:8000/signuser/', options)
.then(res => res.json())
   .then(res => console.log(res));

   
        }

        </script>
</body>
</html>